.DS_Store
phpunit.phar
/vendor
composer.phar
composer.lock
*.project
.idea/
.php_cs.cache
.vscode/
resources/assets/minify-manifest.json
resources/assets/open-admin.min.css
resources/assets/open-admin.min.js
