<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         stopOnFailure="true"
         stopOnError="true"
>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
<!--    <env name="APP_MAINTENANCE_DRIVER" value="file"/>-->
<!--    <env name="BCRYPT_ROUNDS" value="4"/>-->
<!--    <env name="CACHE_STORE" value="array"/>-->
<!--    <env name="DB_CONNECTION" value="sqlite"/>-->
<!--    <env name="DB_DATABASE" value=":memory:"/>-->
<!--    <env name="MAIL_MAILER" value="array"/>-->
<!--    <env name="PULSE_ENABLED" value="false"/>-->
<!--    <env name="QUEUE_CONNECTION" value="sync"/>-->
<!--    <env name="SESSION_DRIVER" value="file"/>-->
<!--    <env name="TELESCOPE_ENABLED" value="false"/>-->
  </php>
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Browser">
      <directory suffix="Test.php">./tests/Browser</directory>
    </testsuite>
  </testsuites>
</phpunit>
