.file-upload-preview-div{
    padding:16px 0 0 16px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.file-upload-preview-div .card{
    border:1px solid var(--field-border-color);
    width:180px;
    margin: 0 16px 16px 0;

}
.file-upload-preview-div .card-image{
    width:160px;
    height:120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    cursor: zoom-in;
}

.file-upload-preview-div .card-image img{
    max-width:140px;
    max-height:100px;
    border:1px solid var(--field-border-color);
}