body,html{
	height:100%;
}

/* prevent resize on font load */
.input-group [class^="bi-"]:before, .input-group [class*=" bi-"]:before {
	min-width:16px;
}

.input-group [class^="icon-"]:before, .input-group [class*=" icon-"]:before {
	width: 1em;
	margin: 0em;
}