.toastify {
    padding: 8px 16px;

    &.t-success {
        background: $success !important;
    }

    &.t-alert {
        background: $warning !important;
    }

    &.t-error {
        background: $danger !important;
    }

    &.t-info {
        background: $info !important;
    }
}
